.loginPage {
    width: 100vw;
    height: 100vh;

    background: #131C23;
    mix-blend-mode: normal;

    display: flex; 
    justify-content: space-around;
    align-items: center;
    flex-direction: row;

    .logoContainer {
        height: 100%;
        width: 60%;

        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width:600px;
            height: 12rem;
        }
    }

    .loginContainer {
        height: 100%;
        width: 40%;

        display: flex;
        justify-content: center;
        align-items: center;

        flex-direction: column;

        background: #F2F2F2;

        h3 {
            font-size: 2rem;
            color: #131C23;
            margin-bottom: 1rem;

            font-family: Roboto, sans-serif;
            font-style: normal;
            font-weight: 700;
            line-height: 130.3%;
        }

        form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            width: 60%;
             
            label {
                height: 2.7rem;
                width: 300px;
                
                border-radius: 0.5rem; 
                background: #222D35;

                margin-bottom: 15px;
                
                display: flex;
                align-items: center;
                justify-content: space-around;

                input {
                    width: 250px;
                    height: 30px;

                    border: none;
                    background: #222D35;

                    color: #F2F2F2;

                    font-family: Roboto, sans-serif;
                    font-size: 1rem;
                    font-style: normal;
                    font-weight: 400;

                }

                input:focus {
                    outline: none;
                }
            }

            button {
                 font-family: Roboto, sans-serif;
                 font-weight: 700;
                 font-size: 20px;
                 line-height: 15px;
                 color: #FFFFFF;

                 background: #38A576;
                 border-radius: 6px;

                 border: none;

                 width: 200px;
                 height: 40px;

                 margin-top: 15px;
            }
        }
    }
}